/*  buttons settings
 *  - for buttons and links that look like buttons
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.form-login .form-actions .btn:first-child {
  margin-right: 0;
}
.btn:not(:first-child) {
  margin-left: 0.5rem;
}
.btn-primary {
  background-color: $secondary;
  border: 1px solid $secondary;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($secondary,10%);
    border-color: darken($secondary,10%);
  }
}
.btn-secondary {
  background-color: $leoBlueHover;
  border-color: $leoBlueHover;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($leoBlueHover,10%);
    border-color: darken($leoBlueHover,10%);
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
