/*  section home
 *  - settings for homepage only
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.mir-start_page {
  .searchBox {
    display: none;
  }
  #page {
    background-color: transparent;
  }
  #leo-index-search {
    h1 {
      color: $leoMenu;
      margin-bottom: 0rem;
      padding: 1rem 1rem;
      background-color: rgba(255,255,255,0.95);
    }
    form {
      margin-top: 0px;
      background-color: rgba(255,255,255,.95);
      padding-bottom: 2.5rem;
    }
    .input-group {
      border-color: white;
      border-bottom: 1px dotted $gray-dark;
      border-top: 1px dotted $gray-dark;
    }
    .custom-control {
      padding-left: 3.25rem;
      margin-bottom: .5rem;
      margin-top: .5rem;
      width: auto;
    }
    .btn,
    .form-control {
      border-radius: 0;
      border: 1px solid white;
    }
    .btn {
      color: $leoMenu;
      background-color: white;
      border-color: white;
    }
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
