// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  - you can't use bootstrap variables here,
//    they are unknown here and has to be set first
//
//  TODO: set bootstrap variables in mir variables,
//        if they are needed there (with !default)
//        so you can overwrite that rules here if you like,
//        at the momen you have to set some bs variables,
//        even if you don't need them

//  Brand colors
// -------------------------

// style guide
$leoBlue:       rgba(0,69,125,0.8);
$leoYellow:     rgb(226,185,0);
$leoGold:       rgb(178,146,88);

// from website
$primary:      #005489;
$secondary:    #877948;
$success:      $leoYellow;
$info:         #146d9d;
$warning:      $success;
$danger:       $success;
$gray-light:   #CCCCCC;
$light-blue:   #E3EAF2;


$leoMenu:       $primary;
$leoMenuBorder: #EED376;
$leoBlueHover:  $info;
$leoDropHover:  #598BB3;
$leoFooterGold: #928356;
$leoLink:       #003F6A;

// keep deprecated variables alive
$brand-primary: $primary;
$brand-success: $success;
$brand-info:    $info;
$brand-warning: $warning;
$brand-danger:  $danger;

// --------------------------------------------------
//  Projects settings
// --------------------------------------------------

// typo
$web-font-path: "https://webfonts.gbv.de/css?family=Open+Sans";
$font-family-sans-serif: Calibri, "Open Sans", sans-serif;
$font-family-serif: Georgia, serif;
$font-size-base: 1rem;

$dropdown-color: white;
$dropdown-bg: $leoBlueHover;
$dropdown-link-color: white;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $leoDropHover;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-spacer: 0;

$link-color: $leoLink;
$link-hover-color: darken($link-color, 15%);

$btn-border-radius: 0;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;

$pagination-bg: $primary;
$pagination-hover-bg: lighten($pagination-bg, 10%);
$pagination-disabled-bg: $gray-light;
