// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  - you can't use bootstrap variables here,
//    they are unknown here and has to be set first
//
//  TODO: set bootstrap variables in mir variables,
//        if they are needed there (with !default)
//        so you can overwrite that rules here if you like,
//        at the momen you have to set some bs variables,
//        even if you don't need them

//  Brand colors
// -------------------------
// style guide
$primary:       #005489;  // primary
$secondary:     #877948;  // primary accent

$success:      #6EBA6B;
$info:         #4B8FBC;
$warning:      #CB1D1D;
$danger:       #CB1D1D;
$gray-light:   #CCCCCC;

// keep deprecated variables alive
$brand-primary: $primary;
$brand-success: $success;
$brand-info:    $info;
$brand-warning: $warning;
$brand-danger:  $danger;



// --------------------------------------------------
//  Projects settings
// --------------------------------------------------
